<?xml version="1.0" encoding="UTF-8"?>
<config>
    <help key="JoomlaHits:_Options"/>
    <inlinehelp button="show"/>
    
    <fieldset 
        name="general" 
        label="COM_JOOMLAHITS_CONFIG_GENERAL_LABEL" 
        description="COM_JOOMLAHITS_CONFIG_GENERAL_DESC">
        
        <field
            name="cache_enabled"
            type="radio"
            layout="joomla.form.field.radio.switcher"
            label="COM_JOOMLAHITS_CONFIG_CACHE_ENABLED_LABEL"
            description="COM_JOOMLAHITS_CONFIG_CACHE_ENABLED_DESC"
            default="1">
            <option value="0">JNO</option>
            <option value="1">JYES</option>
        </field>

        <field
            name="cache_time"
            type="number"
            label="COM_JOOMLAHITS_CONFIG_CACHE_TIME_LABEL"
            description="COM_JOOMLAHITS_CONFIG_CACHE_TIME_DESC"
            default="3600"
            min="300"
            max="86400"
            step="60"
            filter="integer"
            showon="cache_enabled:1"/>

    </fieldset>

    <fieldset 
        name="dashboard" 
        label="COM_JOOMLAHITS_CONFIG_DASHBOARD_LABEL" 
        description="COM_JOOMLAHITS_CONFIG_DASHBOARD_DESC">
        
        <field
            name="dashboard_items_per_page"
            type="number"
            label="COM_JOOMLAHITS_CONFIG_DASHBOARD_ITEMS_LABEL"
            description="COM_JOOMLAHITS_CONFIG_DASHBOARD_ITEMS_DESC"
            default="10"
            min="5"
            max="50"
            step="5"
            filter="integer"/>

        <field
            name="show_language_stats"
            type="radio"
            layout="joomla.form.field.radio.switcher"
            label="COM_JOOMLAHITS_CONFIG_SHOW_LANGUAGE_STATS_LABEL"
            description="COM_JOOMLAHITS_CONFIG_SHOW_LANGUAGE_STATS_DESC"
            default="1">
            <option value="0">JHIDE</option>
            <option value="1">JSHOW</option>
        </field>

        <field
            name="show_category_stats"
            type="radio"
            layout="joomla.form.field.radio.switcher"
            label="COM_JOOMLAHITS_CONFIG_SHOW_CATEGORY_STATS_LABEL"
            description="COM_JOOMLAHITS_CONFIG_SHOW_CATEGORY_STATS_DESC"
            default="1">
            <option value="0">JHIDE</option>
            <option value="1">JSHOW</option>
        </field>

        <field
            name="show_monthly_stats"
            type="radio"
            layout="joomla.form.field.radio.switcher"
            label="COM_JOOMLAHITS_CONFIG_SHOW_MONTHLY_STATS_LABEL"
            description="COM_JOOMLAHITS_CONFIG_SHOW_MONTHLY_STATS_DESC"
            default="1">
            <option value="0">JHIDE</option>
            <option value="1">JSHOW</option>
        </field>

        <field
            name="max_languages_display"
            type="number"
            label="COM_JOOMLAHITS_CONFIG_MAX_LANGUAGES_LABEL"
            description="COM_JOOMLAHITS_CONFIG_MAX_LANGUAGES_DESC"
            default="4"
            min="1"
            max="10"
            step="1"
            filter="integer"
            showon="show_language_stats:1"/>

    </fieldset>

    <fieldset 
        name="mistral_ai" 
        label="COM_JOOMLAHITS_CONFIG_MISTRAL_LABEL" 
        description="COM_JOOMLAHITS_CONFIG_MISTRAL_DESC">
        
        <field
            name="mistral_api_key"
            type="password"
            label="COM_JOOMLAHITS_CONFIG_MISTRAL_API_KEY_LABEL"
            description="COM_JOOMLAHITS_CONFIG_MISTRAL_API_KEY_DESC"
            size="50"
            filter="raw"
            autocomplete="off"/>
        
         <field
            name="mistral_prompt"
            type="textarea"
            label="COM_JOOMLAHITS_CONFIG_MISTRAL_PROMPT_LABEL"
            description="COM_JOOMLAHITS_CONFIG_MISTRAL_PROMPT_DESC"
            rows="6"
            cols="80"
            filter="raw"
            default="Generate a compelling SEO meta description of exactly 185 characters or less for this article. The meta description should be engaging, include relevant keywords, and encourage clicks. Do not include quotes or special formatting. Just return the meta description text.&#10;&#10;Article Title: {title}&#10;Article Introduction: {introtext}"/>
    </fieldset>

    <fieldset 
        name="seoanalysis" 
        label="COM_JOOMLAHITS_CONFIG_SEOANALYSIS_LABEL" 
        description="COM_JOOMLAHITS_CONFIG_SEOANALYSIS_DESC">
        
        <field
            name="seo_analyze_all_categories"
            type="radio"
            label="COM_JOOMLAHITS_CONFIG_SEO_ANALYZE_ALL_LABEL"
            description="COM_JOOMLAHITS_CONFIG_SEO_ANALYZE_ALL_DESC"
            layout="joomla.form.field.radio.switcher"
            default="1">
            <option value="0">JNO</option>
            <option value="1">JYES</option>
        </field>

        <field
            name="seo_categories"
            type="category"
            extension="com_content"
            multiple="true"
            label="COM_JOOMLAHITS_CONFIG_SEO_CATEGORIES_LABEL"
            description="COM_JOOMLAHITS_CONFIG_SEO_CATEGORIES_DESC"
            layout="joomla.form.field.list-fancy-select"
            show_root="false"
            default=""
            showon="seo_analyze_all_categories:0">
        </field>

        <field
            name="seo_detect_all_issues"
            type="radio"
            label="COM_JOOMLAHITS_CONFIG_SEO_DETECT_ALL_LABEL"
            description="COM_JOOMLAHITS_CONFIG_SEO_DETECT_ALL_DESC"
            layout="joomla.form.field.radio.switcher"
            default="1">
            <option value="0">JNO</option>
            <option value="1">JYES</option>
        </field>

        <field
            name="seo_critical_issues"
            type="checkboxes"
            label="COM_JOOMLAHITS_CONFIG_SEO_CRITICAL_ISSUES_LABEL"
            description="COM_JOOMLAHITS_CONFIG_SEO_CRITICAL_ISSUES_DESC"
            default="title_missing,meta_desc_missing"
            showon="seo_detect_all_issues:0">
            <option value="title_missing">COM_JOOMLAHITS_CONFIG_SEO_ISSUE_TITLE_MISSING</option>
            <option value="title_too_short">COM_JOOMLAHITS_CONFIG_SEO_ISSUE_TITLE_SHORT</option>
            <option value="title_too_long">COM_JOOMLAHITS_CONFIG_SEO_ISSUE_TITLE_LONG</option>
            <option value="meta_desc_missing">COM_JOOMLAHITS_CONFIG_SEO_ISSUE_META_MISSING</option>
            <option value="meta_desc_too_short">COM_JOOMLAHITS_CONFIG_SEO_ISSUE_META_SHORT</option>
            <option value="meta_desc_too_long">COM_JOOMLAHITS_CONFIG_SEO_ISSUE_META_LONG</option>
            <option value="missing_h1">COM_JOOMLAHITS_CONFIG_SEO_ISSUE_H1_MISSING</option>
            <option value="missing_alt_tags">COM_JOOMLAHITS_CONFIG_SEO_ISSUE_ALT_MISSING</option>
            <option value="content_too_short">COM_JOOMLAHITS_CONFIG_SEO_ISSUE_CONTENT_SHORT</option>
            <option value="url_too_long">COM_JOOMLAHITS_CONFIG_SEO_ISSUE_URL_LONG</option>
        </field>

        <field
            name="seo_min_title_length"
            type="number"
            label="COM_JOOMLAHITS_CONFIG_SEO_MIN_TITLE_LENGTH_LABEL"
            description="COM_JOOMLAHITS_CONFIG_SEO_MIN_TITLE_LENGTH_DESC"
            default="30"
            min="10"
            max="50"
            step="1"
            filter="integer"/>

        <field
            name="seo_max_title_length"
            type="number"
            label="COM_JOOMLAHITS_CONFIG_SEO_MAX_TITLE_LENGTH_LABEL"
            description="COM_JOOMLAHITS_CONFIG_SEO_MAX_TITLE_LENGTH_DESC"
            default="60"
            min="50"
            max="100"
            step="1"
            filter="integer"/>

        <field
            name="seo_min_meta_length"
            type="number"
            label="COM_JOOMLAHITS_CONFIG_SEO_MIN_META_LENGTH_LABEL"
            description="COM_JOOMLAHITS_CONFIG_SEO_MIN_META_LENGTH_DESC"
            default="120"
            min="50"
            max="150"
            step="1"
            filter="integer"/>

        <field
            name="seo_max_meta_length"
            type="number"
            label="COM_JOOMLAHITS_CONFIG_SEO_MAX_META_LENGTH_LABEL"
            description="COM_JOOMLAHITS_CONFIG_SEO_MAX_META_LENGTH_DESC"
            default="160"
            min="150"
            max="200"
            step="1"
            filter="integer"/>

        <field
            name="seo_min_content_length"
            type="number"
            label="COM_JOOMLAHITS_CONFIG_SEO_MIN_CONTENT_LENGTH_LABEL"
            description="COM_JOOMLAHITS_CONFIG_SEO_MIN_CONTENT_LENGTH_DESC"
            default="300"
            min="100"
            max="1000"
            step="50"
            filter="integer"/>

    </fieldset>

    <fieldset 
        name="permissions" 
        label="JCONFIG_PERMISSIONS_LABEL" 
        description="JCONFIG_PERMISSIONS_DESC">
        
        <field
            name="rules"
            type="rules"
            label="JCONFIG_PERMISSIONS_LABEL"
            filter="rules"
            validate="rules"
            component="com_joomlahits"
            section="component"/>
        
    </fieldset>

</config>